*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  /* display: block; */
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 16rem;
  padding: 1rem;
  border-right: 1px solid #e5e5e5;
}

.search-bar,
.tasks-section {
  /* display: flex; */
  margin-left: 16rem;
  padding: 2rem;
}

.logo-div {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.logo-div img {
  width: 40px;
  height: 40px;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.sidebar-sub {
  padding: 0 12px;
  color: #737373;
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.05rem;
}

p.tasks-para {
  margin-top: 0.375rem;
  padding: 0.625rem 0.75rem;
  color: #525252;
  display: flex;
  font-weight: 500;
}

p.tasks-para:hover,
p.categories-para:hover {
  background-color: #f5f5f5;
  border-radius: 0.375rem;
}

a {
  text-decoration: none;
}

svg.sidebar-img {
  height: 1.25rem;
  width: 1.25rem;
  stroke: #525252;
  /* stroke-width: 2.5; */
}

svg.sidebar-img {
  margin-right: 1rem;
}

.categories-div {
  margin-top: 0.5rem;
  padding-top: 1.2rem;
}

p.categories-para {
  padding: 0.5rem 0.75rem;
  margin-top: 0.25rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

p.categories-para {
  font-weight: 500;
  color: #525252;
}

span.ctg-icons {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.work {
  background-color: #bbf7d0;
}

.personal {
  background-color: #f58af5;
}

.fitness {
  background-color: #fef08a;
}

.shopping {
  background-color: #bfdbfe;
}

img.btn-plus-icon {
  height: 1.25rem;
  width: 1.25rem;
  display: inline;
  margin-right: 0.5rem;
}

button.add-task-btn {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #14b8a6;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 100%;
  justify-content: center;
  position: fixed;
  width: 14rem;
  bottom: 1rem;
}

button.add-task-btn:hover {
  background-color: #0d9488;
  transition: background-color 100ms ease-in-out;
}

.main-title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

svg.search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

section.search-bar {
  display: flex;
  justify-content: space-between;
}

div.input-bar {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

div.input-bar:focus-within,
div.input-bar:active {
  outline: 2px solid black;
}

.search-and-theme {
  display: flex;
  align-items: center;
}

.input-search {
  flex: 1;
  border: none;
  background-color: inherit;
  border: 1px solid transparent;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 14rem;
  color: rgb(38, 38, 38);
}

::placeholder {
  color: #a3a3a3;
  font-weight: 500;
}

.input-search:active,
.input-search:focus {
  outline: none;
}

.toggle-btn {
  position: relative;
  width: 44px;
  height: 24px;
  background: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s;
  border: 2px solid transparent;
  outline: none;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.sun-icon,
.moon-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.theme-toggle-div {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
